# Obsidian-specific files
.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/workspace-mobile.json

# Trash and system files
.trash/
.DS_Store

#for enr
sem1/
sem2/cyber/
sem2/enr/
sem2/professional_practice/